.movie-card {
    border-radius: 15px;
    overflow: hidden;
    transition: 0.3s;
}

.movie-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.movie-img {
    height: 250px;
    object-fit: cover;
}
