.spinner {
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: #ededed;
    z-index: 9999;
}
